//
//  Config.xcconfig
//  test
//
//  Created by Sam Marshall on 3/4/15.
//  Copyright (c) 2015 Sam Marshall. All rights reserved.
//

PRODUCT_NAME = testing
PRODUCT_NAME_ORIGINAL = $(PRODUCT_NAME)
FOO_test_objc = UsingOriginalName
FOO_new_name = UsingNewName

INHERITED_NAME_VALUE = $(FOO_$(PRODUCT_NAME_ORIGINAL))


