BUILD_DIR = foo
CONFIGURATION = bar
EFFECTIVE_PLATFORM_NAME = bazz
PROJECT_TEMP_DIR = buzz
GCC_ENABLE_SSE42_EXTENSIONS = bizz
DEFAULT_SSE_LEVEL_4_2_bizz = fizz
CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
CONFIGURATION_TEMP_DIR = ${PROJECT_TEMP_DIR}/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
CLANG_X86_VECTOR_INSTRUCTIONS = $(DEFAULT_SSE_LEVEL_4_2_$(GCC_ENABLE_SSE42_EXTENSIONS))

TEST[sdk=macosx*] = hi
TEST2[sdk=macosx*][config=Release] = hello