// Architectures
ADDITIONAL_SDKS = 
ARCHS = $(ARCHS_STANDARD)
ONLY_ACTIVE_ARCH = NO
ONLY_ACTIVE_ARCH[config=Debug] = YES
SDKROOT = macosx
SUPPORTED_PLATFORMS[sdk=iphonesimulator*] = iphonesimulator
SUPPORTED_PLATFORMS[sdk=iphoneos*] = iphonesimulator iphoneos
SUPPORTED_PLATFORMS[sdk=macosx*] = macosx
VALID_ARCHS[sdk=iphonesimulator*] = i386 x86_64
VALID_ARCHS[sdk=iphoneos*] = arm64 armv7 armv7s arm64
VALID_ARCHS[sdk=macosx*] = i386 x86_64

// Build Locations
BUILD_DIR = $(SYMROOT)
EFFECTIVE_PLATFORM_NAME[sdk=macosx*] = 
EFFECTIVE_PLATFORM_NAME[sdk=iphoneos*] = -iphoneos
EFFECTIVE_PLATFORM_NAME[sdk=iphonesimulator*] = -iphonesimulator
CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
OBJROOT = $(SYMROOT)
SHARED_PRECOMPS_DIR = $(CACHE_ROOT)/SharedPrecompiledHeaders
SYMROOT = build

// Build Options
APPLICATION_EXTENSION_API_ONLY = NO
BUILD_VARIANTS = normal
DEBUG_INFORMATION_FORMAT = dwarf
DEBUG_INFORMATION_FORMAT[config=Release] = dwarf-with-dsym
EMBEDDED_CONTENT_CONTAINS_SWIFT =
GCC_VERSION =
GENERATE_PROFILING_CODE =
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = YES
SCAN_ALL_SOURCE_FILES_FOR_INCLUDES = NO
VALIDATE_PRODUCT = 

// Code Signing
CODE_SIGN_ENTITLEMENTS = 
CODE_SIGN_IDENTITY = -
CODE_SIGN_RESOURCE_RULES_PATH = 
OTHER_CODE_SIGN_FLAGS = 
PROVISIONING_PROFILE = 
EMBEDDED_PROFILE_NAME=

// Deployment
ALTERNATE_GROUP = $(INSTALL_GROUP)
ALTERNATE_MODE = $(INSTALL_MODE_FLAG)
ALTERNATE_OWNER = $(INSTALL_OWNER)
ALTERNATE_PERMISSIONS_FILES = 
COMBINE_HIDPI_IMAGES = 
COPY_PHASE_STRIP[config=Debug] = NO
COPY_PHASE_STRIP[config=Release] = YES
DEPLOYMENT_LOCATION = NO
DEPLOYMENT_POSTPROCESSING = NO
DSTROOT = /tmp/$(PROJECT_NAME).dst
INSTALL_GROUP = $(GROUP)
INSTALL_MODE_FLAG = u+w,go-w,a+rX
INSTALL_OWNER = $(USER)
INSTALL_PATH = 
PRODUCT_DEFINITION_PLIST =
SEPARATE_STRIP = NO
SKIP_INSTALL = NO
STRIPFLAGS = 
STRIP_INSTALLED_PRODUCT = YES
STRIP_STYLE = all

// Kernel Module
MODULE_NAME = 
MODULE_START = 
MODULE_STOP = 
MODULE_VERSION = 

// Linking
BUNDLE_LOADER = 
DEAD_CODE_STRIPPING = NO
DYLIB_COMPATIBILITY_VERSION = 
DYLIB_CURRENT_VERSION = 
DYLIB_INSTALL_NAME_BASE = 
EXPORTED_SYMBOLS_FILE = 
GENERATE_MASTER_OBJECT_FILE = NO
INIT_ROUTINE = 
KEEP_PRIVATE_EXTERNS = NO
LD_DEPENDENCY_INFO_FILE = $(OBJECT_FILE_DIR_$(CURRENT_VARIANT))/$(CURRENT_ARCH)/$(PRODUCT_NAME)_dependency_info.dat
LD_DYLIB_INSTALL_NAME = 
LD_GENERATE_MAP_FILE = NO
LD_MAP_FILE_PATH = $(TARGET_TEMP_DIR)/$(PRODUCT_NAME)-LinkMap-$(CURRENT_VARIANT)-$(CURRENT_ARCH).txt
LD_NO_PIE = NO
LD_QUOTE_LINKER_ARGUMENTS_FOR_COMPILER_DRIVER = YES
LD_RUNPATH_SEARCH_PATHS = 
LINKER_DISPLAYS_MANGLED_NAMES = NO
LINK_WITH_STANDARD_LIBRARIES = YES
MACH_O_TYPE = mh_execute
ORDER_FILE = 
OTHER_LDFLAGS = 
OTHER_LIBTOOLFLAGS = 
PRELINK_FLAGS = 
PRELINK_LIBS = 
PRESERVE_DEAD_CODE_INITS_AND_TERMS = NO
SECTORDER_FLAGS = 
SEPARATE_SYMBOL_EDIT = NO
UNEXPORTED_SYMBOLS_FILE = 
WARNING_LDFLAGS = 
ENABLE_BITCODE = NO
BITCODE_GENERATION_MODE = none
CLANG_BITCODE_GENERATION_MODE = none

// Packaging
APPLY_RULES_IN_COPY_FILES = NO
COPYING_PRESERVES_HFS_DATA = NO
CREATE_INFOPLIST_SECTION_IN_BINARY = NO
DEFINES_MODULE = NO
EXECUTABLE_EXTENSION = 
EXECUTABLE_PREFIX = 
FRAMEWORK_VERSION = A
GENERATE_PKGINFO_FILE = NO
INFOPLIST_EXPAND_BUILD_SETTINGS = YES
INFOPLIST_FILE = 
INFOPLIST_OTHER_PREPROCESSOR_FLAGS = 
INFOPLIST_OUTPUT_FORMAT = same-as-input
INFOPLIST_PREFIX_HEADER = 
INFOPLIST_PREPROCESS = NO
INFOPLIST_PREPROCESSOR_DEFINITIONS = 
MODULEMAP_FILE = 
MODULEMAP_PRIVATE_FILE = 
PLIST_FILE_OUTPUT_FORMAT = same-as-input
PRIVATE_HEADERS_FOLDER_PATH = 
PRODUCT_MODULE_NAME = $(PRODUCT_NAME)
PRODUCT_NAME = 
PUBLIC_HEADERS_FOLDER_PATH = 
STRINGS_FILE_OUTPUT_ENCODING = UTF-16
WRAPPER_EXTENSION = 

// Search Paths
ALWAYS_SEARCH_USER_PATHS = YES
EXCLUDED_RECURSIVE_SEARCH_PATH_SUBDIRECTORIES = *.nib *.lproj *.framework *.gch *.xcode* (*) .DS_Store CVS .svn .git .hg
FRAMEWORK_SEARCH_PATHS = 
HEADER_SEARCH_PATHS = $(inherited) $(DT_TOOLCHAIN_DIR)/usr/include
INCLUDED_RECURSIVE_SEARCH_PATH_SUBDIRECTORIES = 
LIBRARY_SEARCH_PATHS = 
REZ_SEARCH_PATHS = 
USER_HEADER_SEARCH_PATHS = 

// Testing
TEST_HOST = 
TREAT_MISSING_BASELINES_AS_TEST_FAILURES = NO

// Versioning
CURRENT_PROJECT_VERSION = 
VERSIONING_SYSTEM = 
VERSION_INFO_BUILDER = 
VERSION_INFO_EXPORT_DECL = 
VERSION_INFO_FILE = 
VERSION_INFO_PREFIX = 
VERSION_INFO_SUFFIX = 

// Apple LLVM - Code Generation
CLANG_DEBUG_INFORMATION_LEVEL = default
CLANG_OPTIMIZATION_PROFILE_FILE = $(SRCROOT)/OptimizationProfiles/$(PROJECT_NAME).profdata
CLANG_USE_OPTIMIZATION_PROFILE = NO
CLANG_X86_VECTOR_INSTRUCTIONS = $(DEFAULT_SSE_LEVEL_4_2_$(GCC_ENABLE_SSE42_EXTENSIONS))
GCC_DYNAMIC_NO_PIC = NO
GCC_ENABLE_KERNEL_DEVELOPMENT = NO
GCC_FAST_MATH = NO
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_GENERATE_TEST_COVERAGE_FILES = NO
GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_INSTRUMENT_PROGRAM_FLOW_ARCS = NO
GCC_NO_COMMON_BLOCKS = NO
GCC_OPTIMIZATION_LEVEL[config=Debug] = 0
GCC_REUSE_STRINGS = YES
GCC_STRICT_ALIASING = YES
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_THREADSAFE_STATICS = YES
GCC_UNROLL_LOOPS = NO
LLVM_LTO = NO

// Apple LLVM - Custom Compiler Flags
OTHER_CFLAGS = 
OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS)
WARNING_CFLAGS = 

// Apple LLVM - Language
GCC_CHAR_IS_UNSIGNED_CHAR = NO
GCC_CW_ASM_SYNTAX = YES
GCC_C_LANGUAGE_STANDARD = compiler-default
GCC_ENABLE_ASM_KEYWORD = YES
GCC_ENABLE_BUILTIN_FUNCTIONS = YES
GCC_ENABLE_FLOATING_POINT_LIBRARY_CALLS = NO
GCC_ENABLE_PASCAL_STRINGS = YES
GCC_ENABLE_TRIGRAPHS = NO
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = NO
GCC_INPUT_FILETYPE = automatic
GCC_LINK_WITH_DYNAMIC_LIBRARIES = YES
GCC_PRECOMPILE_PREFIX_HEADER = NO
GCC_PREFIX_HEADER = ''
GCC_SHORT_ENUMS = NO
GCC_USE_STANDARD_INCLUDE_SEARCHING = YES

// Apple LLVM - Language - C++
CLANG_CXX_LANGUAGE_STANDARD = compiler-default
CLANG_CXX_LIBRARY = compiler-default
GCC_ENABLE_CPP_EXCEPTIONS = YES
GCC_ENABLE_CPP_RTTI = YES

// Apple LLVM - Language - Modules
CLANG_ALLOW_NON_MODULAR_INCLUDES_IN_FRAMEWORK_MODULES = NO
CLANG_ENABLE_MODULES = YES
CLANG_MODULES_AUTOLINK = YES

// Apple LLVM - Language - Objective C
CLANG_ENABLE_OBJC_ARC = YES
CLANG_LINK_OBJC_RUNTIME = YES
GCC_ENABLE_OBJC_EXCEPTIONS = YES


// Apple LLVM - Preprocessing
ENABLE_NS_ASSERTIONS = YES
ENABLE_NS_ASSERTIONS[config=Release] = NO
ENABLE_STRICT_OBJC_MSGSEND = YES
GCC_PREPROCESSOR_DEFINITIONS = 
GCC_PREPROCESSOR_DEFINITIONS[config=Debug] = DEBUG=1 $(inherited)
GCC_PREPROCESSOR_DEFINITIONS_NOT_USED_IN_PRECOMPS = 


// Apple LLVM - Warning Policies
GCC_TREAT_WARNINGS_AS_ERRORS = NO
GCC_WARN_INHIBIT_ALL_WARNINGS = NO
GCC_WARN_PEDANTIC = NO

// Apple LLVM - Warnings - All languages
CLANG_WARN_ASSIGN_ENUM = NO
CLANG_WARN_BOOL_CONVERSION = $(CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION)
CLANG_WARN_CONSTANT_CONVERSION = $(CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION)
CLANG_WARN_DOCUMENTATION_COMMENTS = NO
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = $(CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION)
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = NO
CLANG_WARN_INT_CONVERSION = $(CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION)
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = NO
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = NO
GCC_TREAT_INCOMPATIBLE_POINTER_TYPE_WARNINGS_AS_ERRORS = NO
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = NO
GCC_WARN_ABOUT_MISSING_NEWLINE = NO
GCC_WARN_ABOUT_MISSING_PROTOTYPES = NO
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_FOUR_CHARACTER_CONSTANTS = NO
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = NO
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_SHADOW = NO
GCC_WARN_SIGN_COMPARE = NO
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNKNOWN_PRAGMAS = NO
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = NO
GCC_WARN_UNUSED_PARAMETER = NO
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES

// Apple LLVM - Warnings - C++
CLANG_WARN_CXX0X_EXTENSIONS = NO
CLANG_WARN__EXIT_TIME_DESTRUCTORS = NO
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = NO
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = NO

// Apple LLVM - Warnings - Objective C
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = NO
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_OBJC_IMPLICIT_ATOMIC_PROPERTIES = NO
CLANG_WARN_OBJC_MISSING_PROPERTY_SYNTHESIS = NO
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL = YES
GCC_WARN_MULTIPLE_DEFINITION_TYPES_FOR_SELECTOR = NO
GCC_WARN_STRICT_SELECTOR_MATCH = NO
GCC_WARN_UNDECLARED_SELECTOR = NO

// Apple LLVM - Warnings - Objective C and ARC
CLANG_WARN_OBJC_EXPLICIT_OWNERSHIP_TYPE = NO
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = NO
CLANG_WARN_OBJC_RECEIVER_WEAK = NO
CLANG_WARN_OBJC_REPEATED_USE_OF_WEAK = NO
CLANG_WARN__ARC_BRIDGE_CAST_NONARC = YES

// Asset Catalog Compiler - Options
ASSETCATALOG_COMPILER_APPICON_NAME = 
ASSETCATALOG_COMPILER_LAUNCHIMAGE_NAME = 
ASSETCATALOG_NOTICES = YES
ASSETCATALOG_OTHER_FLAGS = 
ASSETCATALOG_WARNINGS = YES

// Interface Builder XIB Compiler - Options
IBC_COMPILER_AUTO_ACTIVATE_CUSTOM_FONTS = YES
IBC_ERRORS = YES
IBC_FLATTEN_NIBS = YES
IBC_NOTICES = YES
IBC_OTHER_FLAGS = 
IBC_WARNINGS = YES

// OSACompile - Build Options
OSACOMPILE_EXECUTE_ONLY = NO
OTHER_OSACOMPILEFLAGS = 

// Static Analyzer - Analysis Policy
CLANG_STATIC_ANALYZER_MODE = shallow
CLANG_STATIC_ANALYZER_MODE_ON_ANALYZE_ACTION = deep
RUN_CLANG_STATIC_ANALYZER = NO

// Static Analyzer - Issues - Generic Issues
CLANG_ANALYZER_DEADCODE_DEADSTORES = YES
CLANG_ANALYZER_GCD = YES
CLANG_ANALYZER_MEMORY_MANAGEMENT = $(CLANG_ANALYZER_MALLOC)

// Static Analyzer - Issues - Objective-C
CLANG_ANALYZER_OBJC_ATSYNC = YES
CLANG_ANALYZER_OBJC_COLLECTIONS = YES
CLANG_ANALYZER_OBJC_INCOMP_METHOD_TYPES = YES
CLANG_ANALYZER_OBJC_NSCFERROR = YES
CLANG_ANALYZER_OBJC_RETAIN_COUNT = YES
CLANG_ANALYZER_OBJC_SELF_INIT = YES
CLANG_ANALYZER_OBJC_UNUSED_IVARS = YES

// Static Analyzer - Issues - Security
CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER = NO
CLANG_ANALYZER_SECURITY_INSECUREAPI_GETPW_GETS = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_MKSTEMP = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = NO
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = NO
CLANG_ANALYZER_SECURITY_INSECUREAPI_UNCHECKEDRETURN = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_VFORK = YES
CLANG_ANALYZER_SECURITY_KEYCHAIN_API = YES

// User Defined
MTL_ENABLE_DEBUG_INFO[config=Debug] = YES
MTL_ENABLE_DEBUG_INFO[config=Release] = NO
