// Alternate
ALTERNATE_GROUP=$(INSTALL_GROUP)
ALTERNATE_MODE=$(INSTALL_MODE_FLAG)
ALTERNATE_OWNER=$(INSTALL_OWNER)

// Apple Internal
APPLE_INTERNAL_DEVELOPER_DIR=$(APPLE_INTERNAL_DIR)/Developer
APPLE_INTERNAL_DIR=/AppleInternal
APPLE_INTERNAL_DOCUMENTATION_DIR=$(APPLE_INTERNAL_DIR)/Documentation
APPLE_INTERNAL_LIBRARY_DIR=$(APPLE_INTERNAL_DIR)/Library
APPLE_INTERNAL_TOOLS=$(APPLE_INTERNAL_DEVELOPER_DIR)/Tools

// Arches
ARCHS_STANDARD[sdk=macosx*]=x86_64
ARCHS_STANDARD_32_64_BIT[sdk=macosx*]=$(ARCHS_STANDARD_32_BIT) $(ARCHS_STANDARD_64_BIT)
ARCHS_STANDARD_32_BIT[sdk=macosx*]=i386
ARCHS_STANDARD_64_BIT[sdk=macosx*]=x86_64
ARCHS_STANDARD_INCLUDING_64_BIT[sdk=macosx*]=x86_64

ARCHS_STANDARD[sdk=iphone*]=armv7 arm64
ARCHS_STANDARD_32_64_BIT[sdk=iphone*]=$(ARCHS_STANDARD_32_BIT) $(ARCHS_STANDARD_64_BIT)
ARCHS_STANDARD_32_BIT[sdk=iphone*]=armv7
ARCHS_STANDARD_64_BIT[sdk=iphone*]=arm64
ARCHS_STANDARD_INCLUDING_64_BIT[sdk=iphone*]=armv7 arm64
ARCHS_UNIVERSAL_IPHONE_OS=armv7 arm64

// Build
BUILD_DIR=
BUILD_ROOT=
BUILD_STYLE=
BUILT_PRODUCTS_DIR=

// Caches
CACHE_ROOT = $(CCHROOT)
COMPOSITE_SDK_DIRS = $(CACHE_ROOT)/CompositeSDKs

// Developer
DEVELOPER_APPLICATIONS_DIR=$(DEVELOPER_DIR)/Applications
DEVELOPER_BIN_DIR=$(DEVELOPER_DIR)/usr/bin
DEVELOPER_FRAMEWORKS_DIR=$(DEVELOPER_LIBRARY_DIR)/Frameworks
DEVELOPER_FRAMEWORKS_DIR_QUOTED=$(DEVELOPER_LIBRARY_DIR)/Frameworks
DEVELOPER_LIBRARY_DIR=$(DEVELOPER_DIR)/Library
DEVELOPER_SDK_DIR=$(DEVELOPER_DIR)/Platforms/MacOSX.platform/Developer/SDKs
DEVELOPER_TOOLS_DIR=$(DEVELOPER_DIR)/Tools
DEVELOPER_USR_DIR=$(DEVELOPER_DIR)/usr
LEGACY_DEVELOPER_DIR = $(DEVELOPER_DIR)/../PlugIns/Xcode3Core.ideplugin/Contents/SharedSupport/Developer

// Diags
COLOR_DIAGNOSTICS = NO

// Exclude
EXCLUDED_INSTALLSRC_SUBDIRECTORY_PATTERNS=.DS_Store .svn .git .hg CVS

// Files
FILE_LIST=$(OBJECT_FILE_DIR)/LinkFileList

// GCC
GCC3_VERSION=3.3

// Headermap
HEADERMAP_INCLUDES_FLAT_ENTRIES_FOR_TARGET_BEING_BUILT=YES
HEADERMAP_INCLUDES_FRAMEWORK_ENTRIES_FOR_ALL_PRODUCT_TYPES=YES
HEADERMAP_INCLUDES_NONPUBLIC_NONPRIVATE_HEADERS=YES
HEADERMAP_INCLUDES_PROJECT_HEADERS=YES
HEADERMAP_USES_FRAMEWORK_PREFIX_ENTRIES=YES
HEADERMAP_USES_VFS=NO

// Install
INSTALL_DIR=/tmp/$(PRODUCT_NAME).dst
INSTALL_ROOT=/tmp/$(PRODUCT_NAME).dst

// Java
JAVAC_DEFAULT_FLAGS=-J-Xms64m -J-XX:NewSize=4M -J-Dfile.encoding=UTF8
JAVA_APP_STUB=/System/Library/Frameworks/JavaVM.framework/Resources/MacOS/JavaApplicationStub
JAVA_ARCHIVE_CLASSES=YES
JAVA_ARCHIVE_TYPE=JAR
JAVA_COMPILER=/usr/bin/javac
JAVA_FRAMEWORK_RESOURCES_DIRS=Resources
JAVA_JAR_FLAGS=cv
JAVA_SOURCE_SUBDIR=.
JAVA_USE_DEPENDENCIES=YES
JAVA_ZIP_FLAGS=-urg

// Library
LIBRARY_FLAG_NOSPACE=YES
LIBRARY_FLAG_PREFIX=-l
LIBRARY_KEXT_INSTALL_PATH=/Library/Extensions

// Local
LOCAL_ADMIN_APPS_DIR=/Applications/Utilities
LOCAL_APPS_DIR=/Applications
LOCAL_DEVELOPER_DIR=/Library/Developer
LOCAL_LIBRARY_DIR=/Library

// Objective-C
OBJC_ABI_VERSION = 

// Platforms
AVAILABLE_PLATFORMS=iphonesimulator macosx iphoneos
OS=MACOS
PLATFORM_DEVELOPER_APPLICATIONS_DIR=$(DEVELOPER_DIR)/Applications
PLATFORM_DEVELOPER_BIN_DIR=$(DEVELOPER_DIR)/usr/bin
PLATFORM_DEVELOPER_LIBRARY_DIR=$(DEVELOPER_DIR)/Library
PLATFORM_DEVELOPER_TOOLS_DIR=$(DEVELOPER_DIR)/Tools
PLATFORM_DEVELOPER_USR_DIR=$(DEVELOPER_DIR)/usr

// Project
PROJECT_DERIVED_FILE_DIR=$(PROJECT_TEMP_DIR)/DerivedSources
PROJECT_TEMP_DIR=$(PROJECT_TEMP_ROOT)/$(PROJECT_NAME).build
PROJECT_TEMP_ROOT=$(SRCROOT)/$(SYMROOT)

// Remove
REMOVE_CVS_FROM_RESOURCES=YES
REMOVE_GIT_FROM_RESOURCES=YES
REMOVE_HEADERS_FROM_EMBEDDED_BUNDLES=YES
REMOVE_HG_FROM_RESOURCES=YES
REMOVE_SVN_FROM_RESOURCES=YES

// Shared
SHARED_PRECOMPS_DIR=$(CACHE_ROOT)/SharedPrecompiledHeaders

// System
SYSTEM_ADMIN_APPS_DIR=/Applications/Utilities
SYSTEM_APPS_DIR=/Applications
SYSTEM_CORE_SERVICES_DIR=/System/Library/CoreServices
SYSTEM_DEMOS_DIR=/Applications/Extras
SYSTEM_DEVELOPER_APPS_DIR=$(DEVELOPER_APPLICATIONS_DIR)
SYSTEM_DEVELOPER_BIN_DIR=$(DEVELOPER_BIN_DIR)
SYSTEM_DEVELOPER_DEMOS_DIR=$(DEVELOPER_DIR)/Applications/Utilities/Built Examples
SYSTEM_DEVELOPER_DIR=$(DEVELOPER_DIR)
SYSTEM_DEVELOPER_DOC_DIR=$(DEVELOPER_DIR)/ADC Reference Library
SYSTEM_DEVELOPER_GRAPHICS_TOOLS_DIR=$(DEVELOPER_DIR)/Applications/Graphics Tools
SYSTEM_DEVELOPER_JAVA_TOOLS_DIR=$(DEVELOPER_DIR)/Applications/Java Tools
SYSTEM_DEVELOPER_PERFORMANCE_TOOLS_DIR=$(DEVELOPER_DIR)/Applications/Performance Tools
SYSTEM_DEVELOPER_RELEASENOTES_DIR=$(DEVELOPER_DIR)/ADC Reference Library/releasenotes
SYSTEM_DEVELOPER_TOOLS=$(DEVELOPER_TOOLS_DIR)
SYSTEM_DEVELOPER_TOOLS_DOC_DIR=$(DEVELOPER_DIR)/ADC Reference Library/documentation/DeveloperTools
SYSTEM_DEVELOPER_TOOLS_RELEASENOTES_DIR=$(DEVELOPER_DIR)/ADC Reference Library/releasenotes/DeveloperTools
SYSTEM_DEVELOPER_USR_DIR=$(DEVELOPER_USR_DIR)
SYSTEM_DEVELOPER_UTILITIES_DIR=$(DEVELOPER_DIR)/Applications/Utilities
SYSTEM_DOCUMENTATION_DIR=/Library/Documentation
SYSTEM_KEXT_INSTALL_PATH=/System/Library/Extensions
SYSTEM_LIBRARY_DIR=/System/Library

// Target
TARGET_TEMP_DIR=$(TEMP_DIR)
TARGET_BUILD_DIR=$(SRCROOT)/$(SYMROOT)/$(CONFIGURATION_BUILD_DIR)

// Temp
TEMP_DIR=$(CONFIGURATION_TEMP_DIR)/$(PRODUCT_NAME).build
TEMP_FILES_DIR=$(TEMP_DIR)
TEMP_FILE_DIR=$(TEMP_DIR)
TEMP_ROOT=$(SRCROOT)/$(SYMROOT)

// Tools
CHMOD=/bin/chmod
CHOWN=/usr/sbin/chown
CP=/bin/cp
ICONV=/usr/bin/iconv
LEX=lex
OSAC=/usr/bin/osacompile
SED=/usr/bin/sed
YACC=yacc

// User
USER_APPS_DIR=$(HOME)/Applications
USER_LIBRARY_DIR=$(HOME)/Library

// Xcode
XCODE_APP_SUPPORT_DIR=$(DEVELOPER_LIBRARY_DIR)/Xcode
// hardcoded into xcode
XCODE_PRODUCT_BUILD_VERSION=6C131e
XCODE_VERSION_ACTUAL=0620
XCODE_VERSION_MAJOR=0600
XCODE_VERSION_MINOR=0620